TEIS Referral Data 
---

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Explore the data
----

In [2]:
teis_mon = pd.read_csv('../data/teis_monthly.csv')
teis_mon.head( )

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,8/9/2014,Blount,Transitional,Eligibility,A,Kristi Borer,7/1/2016,7/1/16,...,1,2016,1,NaN,NaN,8/9/2017,NaN,1,Qtr 1,#REF!
1,FT,404085,7/31/2013,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,7/1/2016,NaN,...,1,2016,1,NaN,NaN,7/31/2016,1.0,1,Qtr 1,#REF!
2,FT,403623,2/5/2016,Sullivan,Transitional,Eligibility,A,Amy Talbert,7/1/2016,7/20/16,...,1,2016,1,NaN,NaN,2/5/2019,NaN,1,Qtr 1,#REF!
3,FT,404157,12/6/2015,Sullivan,Transitional,IFSP,A,Candice Cradic,7/1/2016,7/22/16,...,1,2016,1,NaN,NaN,12/6/2018,NaN,1,Qtr 1,#REF!
4,FT,404154,4/18/2015,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,7/1/2016,7/18/16,...,1,2016,1,NaN,NaN,4/18/2018,NaN,1,Qtr 1,#REF!

In [3]:
teis_mon.tail( )

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
113251,UC,528759,4/7/2021,Sumner,Competitive,Evaluation,A,Sherry Roberts-DS,5/16/2022,5/26/2022,...,1,2021,1,NaN,NaN,4/7/2024,NaN,4,Qtr 4,#REF!
113252,UC,528534,3/13/2022,Sumner,Competitive,IFSP,A,Robyn Hogan,5/11/2022,5/23/2022,...,1,2021,1,NaN,NaN,3/13/2025,NaN,4,Qtr 4,#REF!
113253,UC,528430,1/5/2022,Cumberland,Transitional,Eligibility,A,Lisa Davis,5/10/2022,5/18/2022,...,1,2021,1,NaN,NaN,1/5/2025,NaN,4,Qtr 4,#REF!
113254,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,...,1,2021,1,NaN,NaN,9/12/2023,NaN,4,Qtr 4,#REF!
113255,UC,528535,2/8/2022,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,5/11/2022,5/27/2022,...,1,2021,1,NaN,NaN,2/8/2025,NaN,4,Qtr 4,#REF!

In [4]:
teis_mon.shape

(113256, 34)

Cleaning Data
----

In [10]:
teis_mon2 = teis_mon.drop(columns = ['2012 Child Count', '2013 Child Count', 'Service Coordinator Counter', 'Referral Count', 
                                 'Evaluation Count', 'Eligibility Count', 'IFSP Count', 'Child Count', ' QTR ', 
                                 'Referral Source Category'])

Calculating Referrals and Re-referrals
---

In [11]:
teis_mon2['Child ID'].nunique

<bound method IndexOpsMixin.nunique of 0         403339
1         404085
2         403623
3         404157
4         404154
           ...
113251    528759
113252    528534
113253    528430
113254    528253
113255    528535
Name: Child ID, Length: 113256, dtype: int64>

In [16]:
rerefer = (teis_mon2['Child ID'].value_counts() > 1).sum()
rerefer

15267

In [17]:
refer = teis_mon2[teis_mon2.duplicated(subset = 'Child ID', keep = False)]
refer

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,...,Latest IFSP Date,Exit Reason,Exit Date,Fiscal Year,Notification Month,Tenn Region,Fiscal Year.1,third DOB,Late Referral,Qtr
2,FT,403623,2/5/2016,Sullivan,Transitional,Eligibility,A,Amy Talbert,7/1/2016,7/20/16,...,NaN,NaN,NaN,2016-2017,Jul,Eastern,2016,2/5/2019,NaN,1
6,GN,404087,10/29/2014,Davidson,Competitive,Notification,I,Mary Jane Ratliff,7/1/2016,NaN,...,NaN,Parent decline,7/25/2016,2016-2017,Jul,Middle,2016,10/29/2017,NaN,1
7,GN,402274,12/10/2015,Montgomery,Transitional,Eligibility,I,Tina Regenwether,7/1/2016,7/7/16,...,NaN,Parent decline,7/22/2016,2016-2017,Jul,Middle,2016,12/10/2018,NaN,1
11,MD,404074,5/23/2016,Shelby,Transitional,Notification,I,Helen Shipp,7/1/2016,NaN,...,NaN,Unable to contact,7/21/2016,2016-2017,Jul,Western,2016,5/23/2019,NaN,1
14,MD,404081,4/23/2016,Shelby,Transitional,Notification,I,JoAnn Hinkle-DA,7/1/2016,NaN,...,NaN,Parent decline,7/1/2016,2016-2017,Jul,Western,2016,4/23/2019,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113225,UC,508343,6/14/2021,Putnam,Transitional,Eligibility,A,A.J. Cowan,5/25/2022,NaN,...,NaN,NaN,NaN,2021-2022,May,Middle,2021,6/14/2024,NaN,4
113235,UC,512956,10/17/2019,Sumner,Competitive,Eligibility,A,Taylor Lee,5/9/2022,5/27/2022,...,NaN,NaN,NaN,2021-2022,May,Middle,2021,10/17/2022,NaN,4
113241,UC,497416,1/8/2021,Warren,At-Risk,Notification,I,Sherry Roberts-DS,5/10/2022,NaN,...,NaN,Unable to contact,5/17/2022,2021-2022,May,Middle,2021,1/8/2024,NaN,4
113246,UC,527351,7/8/2021,Sumner,Competitive,Evaluation,A,Sherry Roberts-DS,5/10/2022,5/17/2022,...,NaN,NaN,NaN,2021-2022,May,Middle,2021,7/8/2024,NaN,4
113248,UC,516784,9/1/2020,Warren,At-Risk,Notification,I,Sherry Roberts-DS,5/4/2022,NaN,...,NaN,Unable to contact,5/20/2022,2021-2022,May,Middle,2021,9/1/2023,NaN,4

In [14]:
refer['Child ID'].nunique

<bound method IndexOpsMixin.nunique of 2         403623
6         404087
7         402274
11        404074
14        404081
           ...
113225    508343
113235    512956
113241    497416
113246    527351
113248    516784
Name: Child ID, Length: 33573, dtype: int64>

Question 5
----

TEIS provides services to eligible infants and toddlers from birth to age 3. Are there any POE or service coordinators with high rates of early closure (a child exiting before reaching age 3)? For this question, only consider cases which have reached the IFSP phase.

In [26]:
teis_mon2.groupby(["POE", "Service Coordinator"]).count()

                         Child ID   DOB  County Name  County SES  Child Phase  \
POE Service Coordinator
ET  Aaron Collins             159   159          159         159          159
    Adrianne McPeake          108   108          108         108          108
    Amanda Blair               39    39           39          39           39
    Amanda Cooke              312   312          312         312          312
    Amanda Cooke - PC           6     6            6           6            6
...                           ...   ...          ...         ...          ...
UC  Sherry Roberts-DS        2716  2716         2716        2716         2716
    Stacy Holden               52    52           52          52           52
    Steven Scarlett           421   421          421         421          421
    Taylor Lee                327   327          327         327          327
    Taylor Watson              59    59           59          59           59

                         Active  Notification/ Referral Date  \
POE Service Coordinator
ET  Aaron Collins           159                          159
    Adrianne McPeake        108                          108
    Amanda Blair             39                           39
    Amanda Cooke            312                          312
    Amanda Cooke - PC         6                            6
...                         ...                          ...
UC  Sherry Roberts-DS      2716                         2716
    Stacy Holden             52                           52
    Steven Scarlett         421                          421
    Taylor Lee              327                          327
    Taylor Watson            59                           59

                         Parent Consent Date  Referral Source Type Name  \
POE Service Coordinator
ET  Aaron Collins                        145                        159
    Adrianne McPeake                     104                        108
    Amanda Blair                          35                         39
    Amanda Cooke                         144                        312
    Amanda Cooke - PC                      3                          6
...                                      ...                        ...
UC  Sherry Roberts-DS                   1126                       2716
    Stacy Holden                          20                         52
    Steven Scarlett                      330                        421
    Taylor Lee                           269                        327
    Taylor Watson                         57                         59

                         Initial Eligibility  ...  Latest IFSP Date  \
POE Service Coordinator                       ...
ET  Aaron Collins                        159  ...                39
    Adrianne McPeake                     108  ...                21
    Amanda Blair                          38  ...                 9
    Amanda Cooke                         118  ...                35
    Amanda Cooke - PC                      3  ...                 1
...                                      ...  ...               ...
UC  Sherry Roberts-DS                    473  ...                 0
    Stacy Holden                           2  ...                 0
    Steven Scarlett                      310  ...               162
    Taylor Lee                           237  ...                26
    Taylor Watson                         59  ...                24

                         Exit Reason  Exit Date  Fiscal Year  \
POE Service Coordinator
ET  Aaron Collins                 12         12          159
    Adrianne McPeake               7          7          108
    Amanda Blair                   2          2           39
    Amanda Cooke                 134        134          312
    Amanda Cooke - PC              2          2            6
...                              ...        ...          ...
UC  Sherry Roberts-DS           2016       2016         2716
    Stacy Holden                   0          0           52
    Steven Scarlett               96         96          421
    Taylor Lee                    45         45          327
    Taylor Watson                  0          0           59

                         Notification Month  Tenn Region  Fiscal Year.1  \
POE Service Coordinator
ET  Aaron Collins                       159          159            159
    Adrianne McPeake                    108          108            108
    Amanda Blair                         39           39             39
    Amanda Cooke                        312          312            312
    Amanda Cooke - PC                     6            6              6
...                                     ...          ...            ...
UC  Sherry Roberts-DS                  2716         2716           2716
    Stacy Holden                         52           52             52
    Steven Scarlett                     421          421            421
    Taylor Lee                          327          327            327
    Taylor Watson                        59           59             59

                         third DOB  Late Referral   Qtr
POE Service Coordinator
ET  Aaron Collins              159              3   159
    Adrianne McPeake           108              1   108
    Amanda Blair                39              1    39
    Amanda Cooke               312              8   312
    Amanda Cooke - PC            6              3     6
...                            ...            ...   ...
UC  Sherry Roberts-DS         2716             47  2716
    Stacy Holden                52              2    52
    Steven Scarlett            421              6   421
    Taylor Lee                 327              5   327
    Taylor Watson               59              0    59

[449 rows x 22 columns]

In [32]:
ifsp = teis_mon2.loc[teis_mon2['Child Phase'] == 'IFSP']
ifsp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8010 entries, 3 to 113254
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   POE                          8010 non-null   object
 1   Child ID                     8010 non-null   int64
 2   DOB                          8010 non-null   object
 3   County Name                  8010 non-null   object
 4   County SES                   8010 non-null   object
 5   Child Phase                  8010 non-null   object
 6   Active                       8010 non-null   object
 7   Service Coordinator          8010 non-null   object
 8   Notification/ Referral Date  8010 non-null   object
 9   Parent Consent Date          7922 non-null   object
 10  Referral Source Type Name    8010 non-null   object
 11  Initial Eligibility          8010 non-null   object
 12  Initial Eligibility Date     8010 non-null   object
 13  Initial IFSP Date            8010 non-null   object
 14  Latest IFSP Date             7983 non-null   object
 15  Exit Reason                  65 non-null     object
 16  Exit Date                    65 non-null     object
 17  Fiscal Year                  8010 non-null   object
 18  Notification Month           8010 non-null   object
 19  Tenn Region                  8010 non-null   object
 20  Fiscal Year.1                8010 non-null   int64
 21  third DOB                    8010 non-null   object
 22  Late Referral                148 non-null    float64
 23  Qtr                          8010 non-null   int64
dtypes: float64(1), int64(3), object(20)
memory usage: 1.5+ MB

In [31]:
teis_mon2.groupby(["POE", "Service Coordinator"]).sortby[(ifsp)]

AttributeError: 'DataFrameGroupBy' object has no attribute 'sortby'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8010 entries, 3 to 113254
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   POE                          8010 non-null   object
 1   Child ID                     8010 non-null   int64
 2   DOB                          8010 non-null   object
 3   County Name                  8010 non-null   object
 4   County SES                   8010 non-null   object
 5   Child Phase                  8010 non-null   object
 6   Active                       8010 non-null   object
 7   Service Coordinator          8010 non-null   object
 8   Notification/ Referral Date  8010 non-null   object
 9   Parent Consent Date          7922 non-null   object
 10  Referral Source Type Name    8010 non-null   object
 11  Initial Eligibility          8010 non-null   object
 12  Initial Eligibility Date     8010 non-null   object
 13  Initial IFSP Date            8010 non-null   object
 14  Latest IFSP Date             7983 non-null   object
 15  Exit Reason                  65 non-null     object
 16  Exit Date                    65 non-null     object
 17  Fiscal Year                  8010 non-null   object
 18  Notification Month           8010 non-null   object
 19  Tenn Region                  8010 non-null   object
 20  Fiscal Year.1                8010 non-null   int64
 21  third DOB                    8010 non-null   object
 22  Late Referral                148 non-null    float64
 23  Qtr                          8010 non-null   int64
dtypes: float64(1), int64(3), object(20)
memory usage: 1.5+ MB

In [ ]:
teis_mon2.groupby(["POE", "Service Coordinator"])['DOB/Exit Diff'].count(